@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;700;800&family=Oswald:wght@400;700&family=Poppins:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', 'sans-serif';
}

/* shared styles */
.title-primary {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.paragraph-primary {
    color: #727272;
    font-size: 1rem;
    margin:20px 0;
}

.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border:none;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
}

/* nav styles */
.nav-container {
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 20px;
}

li a {
    color: #424242;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

/* banner styles */
.banner-content {
    padding-top:50px;
    text-align: center;
    margin: 0px 400px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}