@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;700;800&family=Oswald:wght@400;700&family=Poppins:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', 'sans-serif';
}

/* shared styles */
.title-primary {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.description-primary {
    color: #727272;
    font-size: 1rem;
    margin: 20px 0;
}

.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border: none;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;

}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);

}

/* nav section styles */
.nav-container {
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 20px;
}

li a {
    color: #424242;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

/* banner section styles */
.banner-container {
    padding: 50px 0;
}

.banner-content {
    text-align: center;
    margin: 50px 300px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-logo-container {
    width: 90%;
    margin: 40px auto;
}

.banner-logo {
    width: 100%;
    border-radius: 8px;
}

/* main  styles*/
main {
    max-width: 90%;
    margin: auto;
}

/* team section styles*/
.team-container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.team-img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.team-content {
    margin-right: 80px;
}

.team-title {
    margin-right: 0px;
}

.quick-list {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.feature-text {
    color: #FF900E;
}

/* feature section styles */
.feature-container {
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.feature-title {
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 50px;
    border-left: 5px solid #FF900E;
}

.card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.architect-img {
    width: 500px;
    height: 800px;
    border-radius: 8px;
}

.ten-years {
    color: #FFF;
    text-align: center;
    width: 250px;
    border-radius: 4px;
    background: #FF900E;
    position: relative;
    margin-top: -50px;
    margin-left: -70px;
}

.title-ten-year {
    font-size: 3rem;
    font-weight: 700;
    padding: 30px 30px 0 30px;
}

.text-ten-year {
    font-weight: 500;
    padding-bottom: 30px;
}

/* facts section styles */
.facts-container {
    margin: 100px 0;
}

.facts-description {
    margin-right: 650px;
}

.facts-box-container {
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.facts-box {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E
}
.facts-icon{
    padding:40px 40px 0 40px;
}
.facts-text{
    padding:0 40px 40px 40px;
}
.facts-title {
    color: #424242;
    font-size: 2.5rem;
    font-weight: 600;
}





/* media query section */
@media screen and (max-width:576px) {
    .nav-container {
        padding: 20px;
        flex-direction: column;
    }
    ul li {
        padding: 10px;
    }
    .banner-container {
        width: 100%;
        margin: 0;
    }

    .banner-content {
        margin: 0;

    }

    .team-container {
        width: 100%;
        margin: 50px auto;
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;

    }

    .team-content {
        width: 80%;
        margin: auto;
    }

    .feature-container {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .architect-logo-container{
        text-align:center;
    }
    .architect-img {
        width: 80%;
        height: auto;
        margin:auto;
    }

    .ten-years {
        width: 80%;
        position: static;
        margin: 20px auto;
    }
    .facts-container{
        margin:20px;
    }
    .facts-description {
        margin:0;
    }
    .facts-box-container{
        flex-direction: column;
        gap:20px;
    }
    .facts-box{
        width:80%;
        margin:auto;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {

    .nav-container,
    .banner-title {
        padding: 50px 60px;
    }
    ul li {
        padding: 10px;
    }
    .banner-container {
        width: 100%;
        margin: 0;
    }

    .banner-content {
        margin: 50px 0;

    }

    .team-container {
        flex-direction: column;
    }

    .feature-container {
        flex-direction: column-reverse;
    }

    .architect-logo-container {
        text-align: center;
    }

    .architect-img {
        width: 70%;
        height: auto;
    }

    .ten-years {
        width: 50%;
        position: static;
        margin: 20px auto;
    }

    .feature-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .facts-box-container{
        gap:20px;
    }

}